.nav-item {
    font-size: 2.5em;
}

.home {
    color: white;
    background: url("https://source.unsplash.com/RrJCrlU2yZs") no-repeat scroll 0px 75% / cover transparent;
}

.jumbotron-text {
    font-size: 1.2em;
}

.heading {
    font-size: 4em;
    text-align: center;
}

.event {
    text-align: center;

}

.lead {
    font-size: 2em;
    text-align: left;
}

.video {
    text-align: center;
}

.title {
    font-size: 5em;
    text-align: center;
}

.profile {
    text-align: center;
}

.description {
    font-size: 1.2em;
}

.dateloc {
    border-top: 1px solid;
    text-align: center;
    font-size: 2em;
}

.foot {
    text-align: center;
}
